<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="./static/phase-02-step-02.js" defer></script>
</head>

<body>
    <h1>PAGE</h1>
    <div onload="init()">
        <canvas id="can" width="420" height="420" style="border:2px solid;"></canvas>
        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="button" value="predict" id="btn" size="30" onclick="save()">
    <input type="button" value="clear" id="clr" size="23" onclick="erase()">
    </div>
</body>
</html>